body {
    height: 3000px;
}

p {
    margin: 0;
    font-family: Arial;
}

.right-sidebar {
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-div {
    background-color: white;
    border: none;
    border-radius: 6px;
    width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 9px;
}

.modal-notif {
    font-size: 14px;
    margin-bottom: 8px;
}

.close-button {
    font-size: 11px;
}