body {
    height: 3000px;
}

p {
    font-family: Arial;
    display: inline-block;
    margin: 0;
}

.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(190, 190, 190);
}

.image-e {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: middle;
}

.name {
    font-size: 12px;
    margin-left: 6px;
    font-weight: bold;
}

.friend-button {
    background-color: rgb(61, 105, 224);
    color: white;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    font-size: 11px;
}

.message-button {
    background-color: rgb(200, 200, 200);
    color: black;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
}

.sidebar {
    background-color: rgb(49, 48, 48);
    color: white;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.images {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 3px;
}

.sidebar2 {
    background-color: rgb(59, 56, 56);
    color: white;
    position: fixed;
    top: 50px;
    left: 65px;
    bottom: 0;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.info-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}

.info {
    font-size: 12px;
    font-weight: bold;
}

.plus {
    font-size: 17px;
}

.hashtags {
    font-size: 13px;
    color: rgb(138, 132, 132);
}

.hash {
    display: block;
    margin-top: 9px;
}